
@model SnippetOrganizer.Ui.Models.GistViewModel
@{
   ViewBag.Title = "Gist";
}

<div>
   <h1>My Gist</h1>
   <ul>
      @foreach (var gist in Model.Gist)
      {
         <li><a href="@gist.HtmlUrl">@gist.Description</a></li>
      }
   </ul>
</div>

